{% extends 'base.html.twig' %}

{% block body %}
	{{ include('header/header.html.twig') }}

	<div class="container vh-100 d-flex justify-content-center align-items-center">
		<div class="bg-white h-75 p-5 upload-section rounded text-center">
			<img src="{{ asset('build/images/document.png') }}" alt="Mes documents" class="h-75">
			<h5 class="mb-2 lato-bold">Veuillez déposez vos documents ici</h5>
			<p class="lato-light-italic mb-4">Types de documents acceptés: pdf, jpg, jpeg, png.</p>
			<button class="btn primary-btn lato-bold mt-2">
				Ajouter un document
			</button>
		</div>
	</div>

{% endblock %}
