/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.form-check-input {
    margin-right: 10px;
}

/* Ajout de class */

body {
    font-family: 'Lato', sans-serif;
    background-color: #F7F8FC;
}

.min-vh-100 {
    min-height: 100vh;
}

.min-vh-80 {
    min-height: 80vh;
}

.text-blue {
    color: #003366;
}

.text-black {
    color: #000000;
}

.bg-blue {
    background-color: #003366;
}

.bg-green {
    background-color: #0FCFB7;
}

.primary-btn {
    background-color: #0FCFB7;
    color: #000000;
}

.w-90 {
    width: 90%;
}

.w-30 {
    width: 30%;
}

.w-10{
    width: 10%;
}

.w-55 {
    width: 55%;
}

.vh-35 {
    height: 35vh;
}

.vh-80 {
    height: 80vh;
}

.me-6{
    margin-right: 5rem !important;
}

.py-5 {
    padding: 5rem !important;
}

/* Menu */

.menu {
    display: flex;
    align-items: center; /* Centrer verticalement le contenu */
}

@media (max-width: 780px){
    .navbar-nav {
        text-align: center;
        gap: 10px;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-brand img {
    height: 100px; /* Le logo occupe 100% de la hauteur du menu */
    margin-right: 10px;
}

.navbar-custom {
    background-color: #003366;
}

.custom-toggler {
    color: #fff;
    border-color: #fff;
}


/* Login */

.bg-image-login {
    background-image: url('../images/login-image.jpg');
    background-size: cover;
    background-position: center;
}

.full-height {
    height: 100vh; /* 100% de la hauteur de l'écran */
}

.form-control {
    border: 1px solid #003366;
}

.form-check-input {
    border: 1px solid #003366;
    margin-top: -1px;
}


/* Home */

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.rounded-card {
    border-radius: 35px;
}

.rounded-card img {
    border-radius: 35px 35px 0 0;
}

.about-img img {
    border-radius: 58% 20%;
}

/* Mes documents */

th {
    background-color: #0FCFB7 !important;
    padding: 12px !important;
}

td {
    padding: 18px !important;
}